*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/jmt-core/target/
/target/

/nbactions.xml
/nb-configuration.xml

/jmt-core/nbactions.xml
/jmt-core/nb-configuration.xml
/jmt-spring-jdbc/target/
/jmt-jdbc/target/
/jmt-pojogen-maven-plugin/target/
/jmt-jdbc/nbactions.xml
/jmt-tquery/target/
/jmt-core/nbproject/